*{
    margin: 0px;
    padding: 0px;
    box-sixing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: white(225, 225, 225);
    text-transform: uppercase;
    letter-spacing: 5px;
    
}